:root{
    --vermelho: #e50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Elementos base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}
.logo-img{
    width: 130px;
    margin: 20px 20px 20px 30px;
}
header nav{
    margin-right: 30px;

}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}
header nav a:hover{
    color: #fff
}

/*Filme destaque*/
.filme-destaque{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/capa-house.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-destaque .container{
    margin-left: 30px;
    width: 60%;
}
.filme-destaque .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}
.filme-destaque .titulo-destaque{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.945);
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: rgba(210,210,210,.70);
    border: 2px solid black
}
.box-filme{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}



