@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .logo-img {
        width: 100px;
        margin: 20px;
    }
    header nav{
        margin-right: 0;
    }
    .filme-destaque{
        font-size: 14px;
    }
    .filme-destaque .titulo-destaque{
        font-size: 30px;
    }
    .filme-destaque .container{
        margin: auto;
        padding: 0;
    }
    .botao{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
    }
    .botoes{
        
    }
  
}